src/wsdl/device_service.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tds="http://www.onvif.org/ver10/device/wsdl"
    xmlns:tt="http://www.onvif.org/ver10/schema"
    targetNamespace="http://www.onvif.org/ver10/device/wsdl">

    <wsdl:types>
        <xs:schema targetNamespace="http://www.onvif.org/ver10/device/wsdl" elementFormDefault="qualified">
            <xs:import namespace="http://www.onvif.org/ver10/schema" schemaLocation="types.xsd"/>
            <xs:element name="GetDeviceInformation">
                <xs:complexType/>
            </xs:element>
            <xs:element name="GetDeviceInformationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Manufacturer" type="xs:string"/>
                        <xs:element name="Model" type="xs:string"/>
                        <xs:element name="FirmwareVersion" type="xs:string"/>
                        <xs:element name="SerialNumber" type="xs:string"/>
                        <xs:element name="HardwareId" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetSystemDateAndTime">
                <xs:complexType/>
            </xs:element>
            <xs:element name="GetSystemDateAndTimeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="SystemDateAndTime" type="tt:SystemDateTime"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetCapabilities">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Category" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetCapabilitiesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Capabilities" type="tt:Capabilities"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetServices">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="IncludeCapability" type="xs:boolean" minOccurs="0"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetServicesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Service" type="tt:Service" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="GetDeviceInformationRequest">
        <wsdl:part name="parameters" element="tds:GetDeviceInformation"/>
    </wsdl:message>
    <wsdl:message name="GetDeviceInformationResponse">
        <wsdl:part name="parameters" element="tds:GetDeviceInformationResponse"/>
    </wsdl:message>
    <wsdl:message name="GetSystemDateAndTimeRequest">
        <wsdl:part name="parameters" element="tds:GetSystemDateAndTime"/>
    </wsdl:message>
    <wsdl:message name="GetSystemDateAndTimeResponse">
        <wsdl:part name="parameters" element="tds:GetSystemDateAndTimeResponse"/>
    </wsdl:message>
    <wsdl:message name="GetCapabilitiesRequest">
        <wsdl:part name="parameters" element="tds:GetCapabilities"/>
    </wsdl:message>
    <wsdl:message name="GetCapabilitiesResponse">
        <wsdl:part name="parameters" element="tds:GetCapabilitiesResponse"/>
    </wsdl:message>
    <wsdl:message name="GetServicesRequest">
        <wsdl:part name="parameters" element="tds:GetServices"/>
    </wsdl:message>
    <wsdl:message name="GetServicesResponse">
        <wsdl:part name="parameters" element="tds:GetServicesResponse"/>
    </wsdl:message>

    <wsdl:portType name="DevicePort">
        <wsdl:operation name="GetDeviceInformation">
            <wsdl:input message="tds:GetDeviceInformationRequest"/>
            <wsdl:output message="tds:GetDeviceInformationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetSystemDateAndTime">
            <wsdl:input message="tds:GetSystemDateAndTimeRequest"/>
            <wsdl:output message="tds:GetSystemDateAndTimeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetCapabilities">
            <wsdl:input message="tds:GetCapabilitiesRequest"/>
            <wsdl:output message="tds:GetCapabilitiesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetServices">
            <wsdl:input message="tds:GetServicesRequest"/>
            <wsdl:output message="tds:GetServicesResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="DeviceBinding" type="tds:DevicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetDeviceInformation">
            <soap:operation soapAction="http://www.onvif.org/ver10/device/wsdl/GetDeviceInformation"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetSystemDateAndTime">
            <soap:operation soapAction="http://www.onvif.org/ver10/device/wsdl/GetSystemDateAndTime"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCapabilities">
            <soap:operation soapAction="http://www.onvif.org/ver10/device/wsdl/GetCapabilities"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetServices">
            <soap:operation soapAction="http://www.onvif.org/ver10/device/wsdl/GetServices"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DeviceService">
        <wsdl:port name="DevicePort" binding="tds:DeviceBinding">
            <soap:address location="http://0.0.0.0/onvif/device_service"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>