src/wsdl/types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:tt="http://www.onvif.org/ver10/schema"
    targetNamespace="http://www.onvif.org/ver10/schema"
    elementFormDefault="qualified">

    <xs:simpleType name="ReferenceToken">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:complexType name="Time">
        <xs:sequence>
            <xs:element name="Hour" type="xs:int"/>
            <xs:element name="Minute" type="xs:int"/>
            <xs:element name="Second" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Date">
        <xs:sequence>
            <xs:element name="Year" type="xs:int"/>
            <xs:element name="Month" type="xs:int"/>
            <xs:element name="Day" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DateTime">
        <xs:sequence>
            <xs:element name="Time" type="tt:Time"/>
            <xs:element name="Date" type="tt:Date"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TimeZone">
        <xs:sequence>
            <xs:element name="TZ" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SystemDateTime">
        <xs:sequence>
            <xs:element name="DateTimeType" type="xs:string"/>
            <xs:element name="DaylightSavings" type="xs:boolean"/>
            <xs:element name="TimeZone" type="tt:TimeZone" minOccurs="0"/>
            <xs:element name="UTCDateTime" type="tt:DateTime" minOccurs="0"/>
            <xs:element name="LocalDateTime" type="tt:DateTime" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="OnvifVersion">
        <xs:sequence>
            <xs:element name="Major" type="xs:int"/>
            <xs:element name="Minor" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Dot11ConfigurationCapabilities">
        <xs:sequence/>
    </xs:complexType>

    <xs:complexType name="NetworkCapabilitiesExtension">
        <xs:sequence>
            <xs:element name="Dot11Configuration" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NetworkCapabilities">
        <xs:sequence>
            <xs:element name="IPFilter" type="xs:boolean" minOccurs="0"/>
            <xs:element name="ZeroConfiguration" type="xs:boolean" minOccurs="0"/>
            <xs:element name="IPVersion6" type="xs:boolean" minOccurs="0"/>
            <xs:element name="DynDNS" type="xs:boolean" minOccurs="0"/>
            <xs:element name="Extension" type="tt:NetworkCapabilitiesExtension" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SystemCapabilitiesExtension">
        <xs:sequence>
            <xs:element name="HttpFirmwareUpgrade" type="xs:boolean" minOccurs="0"/>
            <xs:element name="HttpSystemBackup" type="xs:boolean" minOccurs="0"/>
            <xs:element name="HttpSystemLogging" type="xs:boolean" minOccurs="0"/>
            <xs:element name="HttpSupportInformation" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SystemCapabilities">
        <xs:sequence>
            <xs:element name="DiscoveryResolve" type="xs:boolean" minOccurs="0"/>
            <xs:element name="DiscoveryBye" type="xs:boolean" minOccurs="0"/>
            <xs:element name="RemoteDiscovery" type="xs:boolean" minOccurs="0"/>
            <xs:element name="SystemBackup" type="xs:boolean" minOccurs="0"/>
            <xs:element name="SystemLogging" type="xs:boolean" minOccurs="0"/>
            <xs:element name="FirmwareUpgrade" type="xs:boolean" minOccurs="0"/>
            <xs:element name="SupportedVersions" type="tt:OnvifVersion" minOccurs="0"/>
            <xs:element name="Extension" type="tt:SystemCapabilitiesExtension" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="IOCapabilitiesExtension">
        <xs:sequence>
            <xs:element name="Auxiliary" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="IOCapabilities">
        <xs:sequence>
            <xs:element name="InputConnectors" type="xs:int" minOccurs="0"/>
            <xs:element name="RelayOutputs" type="xs:int" minOccurs="0"/>
            <xs:element name="Extension" type="tt:IOCapabilitiesExtension" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SecurityCapabilitiesExtension">
        <xs:sequence>
            <xs:element name="TLS10" type="xs:boolean" minOccurs="0"/>
            <xs:element name="Dot1X" type="xs:boolean" minOccurs="0"/>
            <xs:element name="RemoteUserHandling" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SecurityCapabilities">
        <xs:sequence>
            <xs:element name="TLS11" type="xs:boolean" minOccurs="0"/>
            <xs:element name="TLS12" type="xs:boolean" minOccurs="0"/>
            <xs:element name="OnboardKeyGeneration" type="xs:boolean" minOccurs="0"/>
            <xs:element name="AccessPolicyConfig" type="xs:boolean" minOccurs="0"/>
            <xs:element name="X509Token" type="xs:boolean" minOccurs="0"/>
            <xs:element name="SAMLToken" type="xs:boolean" minOccurs="0"/>
            <xs:element name="KerberosToken" type="xs:boolean" minOccurs="0"/>
            <xs:element name="RELToken" type="xs:boolean" minOccurs="0"/>
            <xs:element name="Extension" type="tt:SecurityCapabilitiesExtension" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DeviceCapabilities">
        <xs:sequence>
            <xs:element name="XAddr" type="xs:string" minOccurs="0"/>
            <xs:element name="Network" type="tt:NetworkCapabilities" minOccurs="0"/>
            <xs:element name="System" type="tt:SystemCapabilities" minOccurs="0"/>
            <xs:element name="IO" type="tt:IOCapabilities" minOccurs="0"/>
            <xs:element name="Security" type="tt:SecurityCapabilities" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="StreamingCapabilities">
        <xs:sequence>
            <xs:element name="RTPMulticast" type="xs:boolean" minOccurs="0"/>
            <xs:element name="RTP_TCP" type="xs:boolean" minOccurs="0"/>
            <xs:element name="RTP_RTSP_TCP" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ProfileCapabilities">
        <xs:sequence>
            <xs:element name="MaximumNumberOfProfiles" type="xs:int" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MediaCapabilitiesExtension">
        <xs:sequence>
            <xs:element name="ProfileCapabilities" type="tt:ProfileCapabilities" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MediaCapabilities">
        <xs:sequence>
            <xs:element name="XAddr" type="xs:string" minOccurs="0"/>
            <xs:element name="StreamingCapabilities" type="tt:StreamingCapabilities" minOccurs="0"/>
            <xs:element name="Extension" type="tt:MediaCapabilitiesExtension" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Capabilities">
        <xs:sequence>
            <xs:element name="Device" type="tt:DeviceCapabilities" minOccurs="0"/>
            <xs:element name="Media" type="tt:MediaCapabilities" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Service">
        <xs:sequence>
            <xs:element name="Namespace" type="xs:string"/>
            <xs:element name="XAddr" type="xs:string"/>
            <xs:element name="Version" type="tt:OnvifVersion"/>
            <xs:element name="Capabilities" type="xs:anyType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Resolution">
        <xs:sequence>
            <xs:element name="Width" type="xs:int"/>
            <xs:element name="Height" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Rectangle">
        <xs:attribute name="x" type="xs:int" use="required"/>
        <xs:attribute name="y" type="xs:int" use="required"/>
        <xs:attribute name="width" type="xs:int" use="required"/>
        <xs:attribute name="height" type="xs:int" use="required"/>
    </xs:complexType>

    <xs:complexType name="RateControl">
        <xs:sequence>
            <xs:element name="FrameRateLimit" type="xs:int" minOccurs="0"/>
            <xs:element name="EncodingInterval" type="xs:int" minOccurs="0"/>
            <xs:element name="BitrateLimit" type="xs:int" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="VideoSource">
        <xs:sequence>
            <xs:element name="Framerate" type="xs:int" minOccurs="0"/>
            <xs:element name="Resolution" type="tt:Resolution" minOccurs="0"/>
            <xs:element name="Bounds" type="tt:Rectangle" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="token" type="tt:ReferenceToken" use="optional"/>
    </xs:complexType>

    <xs:complexType name="VideoSourceConfiguration">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" minOccurs="0"/>
            <xs:element name="UseCount" type="xs:int" minOccurs="0"/>
            <xs:element name="SourceToken" type="tt:ReferenceToken" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="token" type="tt:ReferenceToken" use="optional"/>
    </xs:complexType>

    <xs:complexType name="VideoEncoderConfiguration">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" minOccurs="0"/>
            <xs:element name="UseCount" type="xs:int" minOccurs="0"/>
            <xs:element name="Encoding" type="xs:string" minOccurs="0"/>
            <xs:element name="Resolution" type="tt:Resolution" minOccurs="0"/>
            <xs:element name="Quality" type="xs:float" minOccurs="0"/>
            <xs:element name="RateControl" type="tt:RateControl" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="token" type="tt:ReferenceToken" use="optional"/>
    </xs:complexType>

    <xs:complexType name="MediaUri">
        <xs:sequence>
            <xs:element name="Uri" type="xs:string"/>
            <xs:element name="InvalidAfterConnect" type="xs:boolean" minOccurs="0"/>
            <xs:element name="InvalidAfterReboot" type="xs:boolean" minOccurs="0"/>
            <xs:element name="Timeout" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Profile">
        <xs:sequence>
            <xs:element name="Name" type="xs:string" minOccurs="0"/>
            <xs:element name="VideoSourceConfiguration" type="tt:VideoSourceConfiguration" minOccurs="0"/>
            <xs:element name="VideoEncoderConfiguration" type="tt:VideoEncoderConfiguration" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="token" type="tt:ReferenceToken" use="optional"/>
        <xs:attribute name="fixed" type="xs:boolean" use="optional"/>
    </xs:complexType>

</xs:schema>